{% include 'head.html' %}
<style>
    /* Set table styles */
    table {
        width: 100%;
        border-collapse: collapse;
    }
    
    /* Set header cell styles */
    th {
        background-color: #f2f2f2;
        text-align: left;
        padding: 8px;
    }
    
    /* Set data cell styles */
    td {
        border: 1px solid #ddd;
        padding: 8px;
    }
    
    /* Set alternating row colors */
    tr:nth-child(even) {
        background-color: #f9f9f9;
    }
    
    /* Set hover effect on rows */
    tr:hover {
        background-color: #e2e2e2;
    }
</style>
<body class="g-sidenav-show">

    {% include 'adminnav.html' %}

    <div class="main-content" id="panel">
        <div class="container-fluid pt-3">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h2 class="mb-0">Dosage Details</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <h6 class="heading-small text-muted mb-4">Dosage information</h6>
                    <table>
                        <tr>
                            <th>Centre Name</th>
                            <th>Dosage Available</th>
                        </tr>
                        {% for centre in data %}

                        <tr>
                            <td>{{ centre.name }}</td>
                            <td>{{ centre.dosage }}</td>
                        </tr>
                        {% endfor %}

                    </table>

                </div>
            </div>
        </div>
    </div>
</body>
<script>

    '{% if alert_msg %}'
    alert("{{ alert_msg }}");
    '{% endif %}'

</script>