{% include 'head.html' %}

<body class="g-sidenav-show">

    {% include 'usernav.html' %}

    <!-- <div class="main-content" id="panel">
        <div class="container-fluid pt-3">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h2 class="mb-0">Book Vaccination Centre</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/user/dashboard/slotbook" method="POST">
                        <h6 class="heading-small text-muted mb-4">Centre information</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <select name="centre_name" class="form-select">
                                    {% for vacc_centre in vacc_centres %}
                                    <option value="{{ vacc_centre.name }}">{{ vacc_centre.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">Book Slot</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> -->

    <div class="main-content" id="panel">
        <div class="container-fluid pt-3">
            <div class="card mb-4">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h2 class="mb-0">Book Vaccination Centre</h2>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form action="/user/dashboard/slotbook" method="POST">
                        <h6 class="heading-small text-muted mb-4">Centre information</h6>
                        <div class="row">
                            <div class="col-md-6">
                                <select name="centre_name" class="form-select">
                                    {% for vacc_centre in vacc_centres %}
                                    <option value="{{ vacc_centre.name }}">{{ vacc_centre.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6">
                                <input type="date" name="booking_date" class="form-control" required>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-primary">Book Slot</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

    '{% if alert_msg %}'
    alert("{{ alert_msg }}");
    '{% endif %}'

</script>
