<div class="form-container sign-up-container">
    <form action="/user/signup" method="post">
      <h1 class="reg_head">Sign up</h1>
      <input class="reg_input" name="username" type="text" placeholder="Username" required>
      <input class="reg_input" name="email" type="email" placeholder="Email" required>
      <input class="reg_input" name="password" type="password" placeholder="Password" required>
      <input class="reg_input" name="confirm_password" type="password" placeholder="Confirm Password" required>
      <button name="signup_user" class="reg_button" id="signup_account">Sign Up</button>
    </form>
  </div>